---
export const prerender = true;
const title = 'Tips for SvS Participation';
import Layout from '../../layouts/Layout.astro';
---
<Layout title={title}>
<main>
<p>The pages in this section will attempt to provide what advice I can about participating in <a href="../reference/glossary/#SvS">SvS</a> on a budget.  Much of this advice is under-tested, or even un-tested, as I am still just starting my own SvS journey in many ways.  If you will allow a mixed metaphor, Take anything you find here with a grain of salt, because your mileage may vary. </p>
</main>
</Layout >
