/*
Copyright 2020 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

/* import the global stylesheets */
@import '@spectrum-web-components/styles/typography.css';
@import '@spectrum-web-components/styles/scale-medium.css';
@import "@spectrum-css/vars/dist/spectrum-global.css";
@import "@spectrum-css/vars/dist/spectrum-medium.css";
@import "@spectrum-css/page/dist/index-vars.css";

/* Color Theme Swatches in Hex */ 
.Cyan-600-Theme-1-1-hex { color: #0486B4; } /*oklch(58.23% 0.118 231.71)*/
.Cyan-600-Theme-1-2-hex { color: #466973; } /*oklch(49.81% 0.043 217.6)*/
.Cyan-600-Theme-1-3-hex { color: #88C0D9; }
.Cyan-600-Theme-1-4-hex { color: #343D40; }
.Cyan-600-Theme-1-5-hex { color: #12B0DA; }

/* Color Theme Swatches in RGBA */
.Cyan-600-Theme-1-1-rgba { color: rgba(4, 134, 180, 1); }
.Cyan-600-Theme-1-2-rgba { color: rgba(70, 105, 115, 1); }
.Cyan-600-Theme-1-3-rgba { color: rgba(136, 192, 217, 1); }
.Cyan-600-Theme-1-4-rgba { color: rgba(52, 61, 64, 1); }
.Cyan-600-Theme-1-5-rgba { color: rgba(18, 176, 218, 1); }

/* Color Theme Swatches in HSLA */
.Cyan-600-Theme-1-1-hsla { color: hsla(195, 95, 36, 1); }
.Cyan-600-Theme-1-2-hsla { color: hsla(193, 24, 36, 1); }
.Cyan-600-Theme-1-3-hsla { color: hsla(198, 51, 69, 1); }
.Cyan-600-Theme-1-4-hsla { color: hsla(195, 10, 22, 1); }
.Cyan-600-Theme-1-5-hsla { color: hsla(192, 84, 46, 1); }


/* Color Theme Swatches in Hex */
.Theme2-1-hex { color: #8EE03D; }
.Theme2-2-hex { color: #E0623D; }
.Theme2-3-hex { color: #3D5DE0; }
.Theme2-4-hex { color: #545F8B; }
.Theme2-5-hex { color: #56614B; }

/* Color Theme Swatches in RGBA */
.Theme2-1-rgba { color: rgba(142, 224, 61, 1); }
.Theme2-2-rgba { color: rgba(224, 98, 61, 1); }
.Theme2-3-rgba { color: rgba(61, 93, 224, 1); }


/* Color Theme Swatches in HSLA */
.Theme2-1-hsla { color: hsla(90, 72, 55, 1); }
.Theme2-2-hsla { color: hsla(13, 72, 55, 1); }
.Theme2-3-hsla { color: hsla(228, 72, 55, 1); }


:root {
  --theme2-green: #8EE03D;
  --theme2-red: #E0623D;
  --sl-nav-pad-x: 0.1px;
  --sl-nav-pad-y: 0.1px;
  --sl-content-width: 90%;
	--sl-sidebar-width: 15rem;
}

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #0d2734;
	--sl-color-accent: #00739c;
	--sl-color-accent-high: #b0cede;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e3f0f7;
	--sl-color-gray-2: #b5c5ce;
	--sl-color-gray-3: #7291a1;
	--sl-color-gray-4: #3f5d6c;
	--sl-color-gray-5: #1f3c4b;
	--sl-color-gray-6: #0d2a38;
	--sl-color-black: #0e1a20;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c4dbe7;
	--sl-color-accent: #00759f;
	--sl-color-accent-high: #08374b;
	--sl-color-white: #0e1a20;
	--sl-color-gray-1: #0d2a38;
	--sl-color-gray-2: #1f3c4b;
	--sl-color-gray-3: #3f5d6c;
	--sl-color-gray-4: #7291a1;
	--sl-color-gray-5: #b5c5ce;
	--sl-color-gray-6: #e3f0f7;
	--sl-color-gray-7: #f1f7fb;
	--sl-color-black: #ffffff;
}


sp-theme {
  background-color: var(--spectrum-global-color-gray-100);
  flex: 1 1 auto;
}

section.footnotes {
  border-top: 1px solid; padding-top: 1.5rem
}


