---
export interface Props {
    heading: string,
    subheading: string,
    img: string,
    alt: string,
}

const { heading, subheading, img, alt, footer } = Astro.props;

const imgUrl = new URL(img.replace(/public\//, ''), Astro.url);

---
<script>
    import '@spectrum-web-components/card/sp-card.js';
</script>
<style>
    img {
        height: calc(var(--spectrum-global-dimension-size-6000) + var(--spectrum-global-dimension-size-3000));

    }
</style>
<sp-card heading={heading} subheading={subheading}>
    <img
            slot="preview"
            src={imgUrl}
            alt={alt}

    />
    <div slot="footer"><slot></slot></div>
</sp-card>