@import "@spectrum-css/vars/dist/spectrum-global.css";
@import "@spectrum-css/vars/dist/spectrum-medium.css";
@import "@spectrum-css/vars/dist/spectrum-light.css";
@import "@spectrum-css/page/dist/index-vars.css";

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--spectrum-global-color-gray-100--spectrum-global-color-gray-100);
}

coral-Shell-header,_coral-Shell-header {
  backgroundColor: 'var(--spectrum-cyan-600)'
}

