---


---
<style>
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        box-sizing: content-box;
        align-items: center;
        justify-content: center;
    }
</style>
<div >
    <slot></slot>
</div>