---

import type { ComponentProps } from 'astro/types';

import { ulid } from 'ulidx';

import { delay } from 'nanodelay';

import { DisplayGrid } from './DisplayGrid';
import AllPairs from '@components/general/AllPairs.astro';
type AllPairsPropsType = ComponentProps<typeof AllPairs>;

import {
  AscendingLevels,
  type BuffParamsType,
  ClassEnum,
  type ClassEnumType,
  qualityColor,
} from '@schemas/baseSchemas';

import {
  GeneralElement,
  type GeneralClassType,
  type GeneralElementType,
  type generalSpecialistsType,
} from '@schemas/generalsSchema';

import {
  type ExtendedGeneralType,
  ExtendedGeneralStatus,
  type GeneralPairType,
} from '@schemas/ExtendedGeneral';
import { generalSpecialists } from '../../../schemas/generalsSchema';

const DEBUG = false;


interface Props {
  generalClass: generalSpecialistsType;
}

const { generalClass } = Astro.props;

const table_name = `${Astro.url.pathname}-${ulid()}`;

let allGenerals = new Array<GeneralElementType>();

//while no general can *have* both, I can evaluate generals assuming I will give them whichever that particular one needs.
let MyInvestmentLevel: BuffParamsType = {
  special1: qualityColor.enum.Gold,
  special2: qualityColor.enum.Gold,
  special3: qualityColor.enum.Gold,
  special4: qualityColor.enum.Gold,
  special5: qualityColor.enum.Disabled,
  stars: AscendingLevels.enum[10],
  dragon: true,
  beast: true,
};

// @ts-ignore
const AllPairsProps: AllPairsPropsType = {
  TargetClass: generalClass
}

const DisplayGridProps = {
  tableName: table_name,
  InvestmentLevel: MyInvestmentLevel,
  RawPairs: Astro.locals.CachedPairs,
};
---

<div class="table-container non-content">
  <AllPairs {...AllPairsProps} />
  <DisplayGrid {...DisplayGridProps} client:only="lit" />

  <style>
    .table-container {
      display: block;
      flex: 2 0 auto;
    }
  </style>
</div>
