---
import type { ComponentProps } from 'astro/types';

import "@spectrum-css/vars/dist/spectrum-global.css";
import "@spectrum-css/vars/dist/spectrum-medium.css";
import "@spectrum-css/page/dist/index.css";
import "@spectrum-css/table/dist/index.css";
import "@spectrum-css/icon/dist/index.css";
import "@spectrum-css/ui-icons/dist/medium/Arrow100.svg";

import {
  ConflictDatum,
  type ConflictDatumType,
  GeneralElement,
  type GeneralElementType
} from '@schemas/index';

interface Props {
  allGenerals: GeneralElementType[],
  allConflicts: ConflictDatumType[],
  class?: String;
}

const { allGenerals, allConflicts } = Astro.props;

---

<div
  class="spectrum-Table-scroller spectrum-Table spectrum-Table--sizeM spectrum-Table--emphasized"
  style="height: 200px"
>
  <div class="spectrum-Table-main" role="table">
    <div class="spectrum-Table-head" role="rowgroup">
      <div role="row">
        <div
          class="spectrum-Table-headCell"
          role="columnheader"
        >
          <span class="spectrum-Table-columnTitle">Index</span>
        </div>
        <div
          class="spectrum-Table-headCell is-sortable is-sorted-desc"
          role="columnheader"
          aria-sort="descending"
          tabindex="0"
        >
          <span class="spectrum-Table-columnTitle">Primary General</span>
        </div>
        <div 
          class="spectrum-Table-headCell" 
          role="columnheader"
          aria-sort="none"
          tabindex="0"
        >
          <span class="spectrum-Table-columnTitle">Assistant General
        </div>
      </div>
    </div>
    <div class="spectrum-Table-body" role="rowgroup">
      {allGenerals.map((gi, index) => (
        <div class="spectrum-Table-row" role="rowgroup">
          <div class="spectrum-Table-cell" role="cell">{index}</div>
          <div class="spectrum-Table-cell" role="cell">{gi.general.name}</div>
          <div class="spectrum-Table-cell" role="cell">{gi.general.name}</div>
        </div>
      ))}
    </div>
  </div>
</div>
