---
import '../styles/styles.css';
import SideNav from '../components/Spectrum/SideNav.astro';
import '@spectrum-css/vars/dist/spectrum-global.css';
import '@spectrum-css/vars/dist/spectrum-medium.css';
import '@spectrum-css/vars/dist/spectrum-light.css';
import '@spectrum-css/page/dist/index-vars.css';
import '@spectrum-css/sidenav/dist/index-vars.css';

export interface Props {
	title: string,
	navsections: string;

}

const { title, navsections } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class:list={['spectrum', 'spectrum--light', 'spectrum--medium',]}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script >
			import '../components/Spectrum/index'
			import '../components/Spectrum/TopNav'

		</script>
	</head>
	<body>
		<sp-theme theme="classic" color="light" scale="medium">
			<header>
				<top-nav ></top-nav>
			</header>
			<sp-split-view resizable primary-min="50" secondary-min="10" primary-size="250">
				<div >
					<SideNav navsections={navsections ? navsections : ''} />
				</div>
				<div>
					<h1 class:list={['title', ]}>{title}</h1>
					<main>
						<slot />
					</main>
				</div>
			</sp-split-view>
		</sp-theme>
	</body>
</html>
