---
export interface Props {
	title: string;
}
const { title } = Astro.props;
import stylesUrl from '../styles/styles.css?url';
import SideNav from '../components/SideNav.astro';
---

<!DOCTYPE html>
<html lang="en" class="spectrum spectrum--light spectrum--medium">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href={stylesUrl} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script >
			import '../components/Spectrum/index'
			import '../components/Spectrum/TopNav'

		</script>
	</head>
	<body>
	<SideNav />
		<sp-theme theme="classic" color="light" scale="medium">
			<header>
				<top-nav ></top-nav>
			</header>
			<SideNav />
			<slot />
		</sp-theme>
	</body>
</html>
